<carousel class="carousel-wrapper">
  <slide>
    <img src="../../../assets/event1.jpg" alt="first slide" class="carousel-img">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../../../assets/event2.jpg" alt="second slide" class="carousel-img">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="../../../assets/event3.jpg" alt="third slide" class="carousel-img">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card card-inverse text-center" style="max-width: 202px;">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card card-inverse text-center" style="max-width: 202px;">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card card-inverse text-center" style="max-width: 202px;">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card card-inverse text-center" style="max-width: 202px;">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card card-inverse text-center" style="max-width: 202px;">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>
      </div>
    </div>
  </div>
</div>
