<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-white center-items shadow">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/prasthuthi-logos.svg" width="150px" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav" style="margin-left: auto;">
      <a class="nav-item nav-link" href="\home">Home</a>
      <a class="nav-item nav-link" href="\services">Services</a>
      <a class="nav-item nav-link" href="\aboutus">About Us</a>
      <a class="nav-item nav-link" href="\contactus">Contact Us</a>
      <a class="nav-item nav-link" href="\login">Sign In</a>
      <a class="nav-item nav-link" href="\register">Register</a>
    </div>
  </div>
</nav>
