<div class="container mt-2">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/conferences.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">Conferences</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/meeting.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">Business Meetings</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/product-launch.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">Product Launch</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/seminar.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">Seminar</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/team-building.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">Team Building</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/tradeshows.png" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">Trade Shows</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/wedding-planner.png" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">Wedding Planning</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <div class="card card-inverse text-center">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-inverse text-center mb-2">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-inverse text-center mb-2">
        <img class="card-img-top" src="../../../assets/event3.jpg" alt="Photo of sunset">
        <div class="card-img-overlay">
          <h4 class="card-title">What Next?</h4>
          <p class="card-text">Is this the end?</p>
        </div>

        <div class="card-body">
          Tune in next week to find out!
        </div>

      </div>
    </div>
  </div>
</div>
